:root {
    --Poppins: Poppins, sans-serif;
    --Montserrat: Montserrat, sans-serif;
    --Inter: Inter, sans-serif;
    --Black: #000000;
    --White: #FFFFFF;
    --BackGround:#F9F8FE;
    --Hover-links:#784b4b;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--Poppins);
    font-weight: 400;
    font-size: 18px;
    
}   

.column-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}
.welcome-div_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}
.menu{
    display: none;
}
.welcome-div_nav{
    display: flex;
    gap: 30px;
    margin-left:32px;
}
.welcome-div_nav a{
    text-decoration: none;
    color: var(--Black);
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: var(--Inter);
}
.welcome-div_contact{
    width: 122px;
    color: var(--White);
    background-color: var(--Black);
    border-radius: 10px;
    padding: 10px 0;
    margin-right: 20px;
    cursor: pointer;
    font-family: var(--Inter);
    font-weight: 600;
}
.welcome-div_section{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
}

.welcome-div_motivate-title{
    font-size: 52px;
    width: 30%;
    margin-bottom: 0;
    margin-top: 68px;
    line-height: 1.4;
    font-family: var(--Montserrat);

}

.welcome-div_article{
    width: 43%;
    padding-right: 50px;
    padding-top: 40px;
}
.welcome-div_buttons-login{
    display: flex;
    gap: 11px;

}
.welcome-div_image-div{
    width: 100%;
    position: relative;
    height: 590px;
    overflow: hidden;
}
.welcome-div_img{
    width: 100%;
    position: absolute;
    transform: translate(0,-10%);
    
    object-fit: cover;
   
}
.welcome-div_button{
    color: var(--BackGround);
    border-radius: 10px;
    border: 1px solid var(--Black);
    padding: 10px 27px;
    cursor: pointer;
    font-family: var(--Inter);
    font-weight: 600;
}
.welcome-div_button-filled{
    background-color: var(--Black);
    color: var(--White);
}
.welcome-div_button-empty{
    background-color: var(--BackGround);
    color: var(--Black);
}

.row-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--BackGround);
    margin-top: 50px;
    padding: 110px 0 108px 20px;
}
.row-div_left-con{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 40%;
    gap: 28px;
   
}
.row-div_right-con{
    width: 43%;
}
.title{
    font-size: 52px;
    line-height: 1.3;
    margin-bottom: 0px;
    margin-top: 16px;
    font-family: var(--Montserrat), sans-serif;
}
.row-div_middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.small-text{
    font-weight: 500;
    margin: 0;
}
.desc{
    margin: 0;
    padding-bottom: 30px;
    
}
.row-div_middle-title{
    font-size: 22px;
}
.row-div_middle-desc{
    font-size: 16px;
}
.row-div_button-borderless{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: var(--BackGround);
    border: none;
    color: var(--Black);
    padding: 10px 0;
    font-family: var(--Inter);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

}
.bottom-buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.column-div_middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 49px;
    justify-content: space-around;
    margin-top: 68px;
}
.white{
    background-color: var(--White);
}
.column-div_top{
    width: 70%;
}
.discover-production{
    padding: 113px 80px;
    align-items: start;
}
.column-div_middle-card-title, .column-div_middle-card-desc{
   margin: 0;
}
.column-div_middle-card-title{
    font-size: 22px;
}
.column-div_middle-card-desc{
    font-size: 16px;
}
.column-div_card-img{
    border-radius: 10px;
}
.column-div_middle-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
    width: 31%;
}
.column-div_buttons{
    margin-top: 80px;
}
.column-div_buttons-join{
    padding: 13px 24px;
}
.fourth-con{
    margin-top: 0;
    justify-content: center;
    gap: 70px;
    padding-left: 0;
}
.fourth-con_left-con{
    width: 42%;
    gap: 35px;
    padding-left: 20px;

}
.m-0{
    margin: 0;
}
.fives-con{
    padding: 50px;
}
.column-div_title{
    font-size: 52px;
    text-align: center;
    width: 80%;
    line-height: 1.4;
    font-family: var(--Montserrat);
    font-weight: 700;
}
.explore-resoures{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    gap: 49px;
}
.explore-resoures_card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.explore-resoures_title{
    margin: 0;

    font-weight: 700;
    font-size: 22px;
    text-align: center;
}
.explore-resoures_description{
    text-align: center;
    font-size: 16px;
    margin: 0;
   

}
.explore-resoures_card-img{
    border-radius: 10px;
}
.six-con{
    margin: 0;
    padding: 94px 20px;
    gap: 70px;
    justify-content: center;
}
.six-con_left-con{
 width: 44%;
 gap: 45px;
}
.six-con_title{
    margin: 0;
}
.six-con_middle{
    justify-content: center;
    gap: 10px;
}

.six-con_middle-div{
    width: 50%;
}

.six-con_middle-title{
    font-size: 52px;
    margin: 0;
}
.six-con_middle-desc{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
  
}
.six-con_description{
    margin: 0;
}
.six-con_top{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.pred-footer{
    width: 100%;
    padding: 110px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.pred-footer_subscription-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pred-footer_title{
    font-size: 52px;
    font-family: var(--Montserrat);
    margin: 0;
}
.pred-footer_submit-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.pred-footer_input-submit{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pred-footer_input{
    width: 340px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--Black);
    font-family: var(--Inter);
}
.pred-footer_input:focus{
    outline:none;
}

.pred-footer_terms{
    font-size: 12px;
}
.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 80px 0;
    gap: 15px;
    background-color: var(--BackGround);
}
.contact_methods{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 39px;
}
.contact_information{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contact_information > p,h2{
    margin: 0;
    font-size: 16px;
}
.contact_information > h2{
    font-size: 22px;
}
.contact_information > img{
    width: 32px;
}
.contact_img{
    padding-top: 211px;
}
.contact_directions{
    width: 125px;
}
.footer{
    width: 100%;
    background-color: var(--BackGround);
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 73px;
    padding: 135px 0;
}
.footer_links{
    display: flex;
    flex-direction: row;
    gap: 85px;
    padding-top: 33px;
}
.footer_subscription{
    width: 42%;
    display: flex;
    gap: 50px;
    margin-top: 20px;
    padding-left: 81px;
    flex-direction: column;
}
.footer_subscription-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_description{
    margin: 0;
}
.footer_submit-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: space-between;
}
.footer_input-submit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.footer_input{
    width: 430px;

}
.footer_title{
    font-size: 32px;
    margin: 0;
    font-family: var(--Montserrat);
    font-weight: 700;
}
.footer_column-links{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 26px;
}
.footer_column-links > h2{
    font-size: 22px;
    margin: 0;
}
.footer_terms{
    font-size:12px;
    margin: 0;
}
.footer_navigate{
    display: flex;
    flex-direction: column;
    gap: 18px; 
}
.footer_navigate-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
    gap: 18px;
    column-gap: 10px;
}
.footer_navigate > a, .footer_navigate-grid > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--Black);
    font-size: 16px;
}
.footer_social{
    padding-top: 20px;
}
.row-div_right-con > img, .contact_img > img{
    width: 98%;
}


@media screen and (max-width : 1351px) {
    .explore-resoures{
        padding: 40px 0;
        flex-wrap: wrap;
    }
    .explore-resoures_card {
        width: 400px;
    }
    .column-div_middle-card{
        width: 370px;
    }
    .column-div_middle{
        flex-wrap: wrap;
    }
    .footer{
        flex-direction: column;
        
    }
    .footer_subscription{
        padding-left: 0;
        align-items: center;
        width: 80%;
    }
    .discover-production{
        align-items: center;
    }
    .footer_title{
        text-align: center;
    }
    .footer_description{
        text-align: center;
    }
    .footer_input-submit{
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
@media screen and (max-width : 1000px) {
    .welcome-div_image-div{
        height: 400px;
    }
    .pred-footer_title{
        text-align: center;
    }
    .contact_img{
        display: none;
    }
    .footer{
        padding-top: 50px;
    }
}
@media screen and (max-width : 768px) {
    .six-con_img, .row-div_right-con{
        display: none;
    }
    .six-con_left-con {
        width: 80%;
    }
    .row-div_left-con{
        width: 80%;
    }
    .column-div_top{
        width: 80%;
    }
    .welcome-div_motivate-title{
        width: 50%;
    }
    .welcome-div_article{
        padding-right: 0;
    }
    .pred-footer > div{
        width: 80%;
    }
    .pred-footer_title{
        text-align: center;
    }
    .pred-footer_desc{
        text-align: center;
    }
    .pred-footer_input-submit{
        width: 80%;
    }
    .footer_links{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer_input{
        width: 300px;
    }
    .footer_terms{
        width: 70%;
        text-align: center;
    }
    .footer_submit-form{
        align-items: center;
    }

}
@media screen and (max-width: 675px) {
    .welcome-div_nav{
        display: none;
    }
    .welcome-div_button{
        min-width: 105px;
    }
    .welcome-div_hidden-menu{
        height: 100vh;
        width: 100%;
        display: flex;
        position: absolute;
        top:0;
        left:0;
        background-color: var(--White);
       
    }
    .menu{
        display: block;
        margin-left: 10px;
    }


    .welcome-div_section{
        flex-direction: column;
        gap: 30px;
        width: 80%;
    }
    .welcome-div_motivate-title{
        width: 100%;
        font-size: 36px;
        margin: 0;
        text-align: center;
    }
    .welcome-div_article{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .welcome-div_desc{
        text-align: center;
    }
    .welcome-div_image-div{
        height: 300px;
    }
    .title{
        font-size: 36px;
        text-align: center;
    }
    .small-text{
        font-size: 14px;
    }
    .description{
        font-size: 16px;
    }
    .column-div_title{
        font-size: 36px;
        width: 100%;
    }
    .explore-resoures_title{
        font-size: 18px;
    }
    .explore-resoures_description{
        font-size: 14px;
    }
    .pred-footer_title{
        font-size: 36px;
    }
    .pred-footer_desc {
        font-size: 16px;
    }
    .contact_methods{
        align-items: center; 
    }
    .contact_information{
        width: 200px;
    }
    .row-div_button-borderless{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
    }
    .explore-resoures_card{
        align-items: center;
    }
    .column-div_middle-card{
        align-items: center;
    }
    .column-div_middle-card-desc{
        text-align: center;
    }
     .menu{
        display: block;
    }
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
    .burger {
        position: relative;
        z-index: 2;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }
    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: var(--Black);
    }
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 var(--Black);
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    .menu-list {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        z-index: 1;
        gap: 17px;
        padding: 42px 0;
        margin: 0;
        background: var(--BackGround);
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 100%;
    }
    .menu-item {
        display: block;
        padding: 8px;
        color: black;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        font-family: var(--Inter);
    }
    .menu-item:hover {
        background: rgba(255,255,255,.2)
    }
    .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
    }
}
@media screen and (max-width : 480px) {
    .welcome-div_image-div{
        display: none;
    }
    .footer_input{
        width: 200px;
    }
    .discover-production{
        padding: 80px 0;
    }
    .column-div_card-img, .explore-resoures_card-img{
        width:270px
    }
    .row-div, .fives-con{
        padding-left: 0;
        padding-right: 0;
    }
    .contact_methods{
        width: 80%;
    }
    .explore-resoures_card, .column-div_middle-card{
        width: 300px;
    }
    .row-div_middle{
        flex-direction: column;
    }
    .fourth-con_left-con{
        padding-left: 0;
    }
    .six-con_middle-div{
        width: 80%;
    }
    .pred-footer_input{
        width: 280px
    }
    .pred-footer_input-submit{
        flex-direction: column;
    }
    .footer_input-submit{
        flex-direction: column;
    }
    .footer_links{
        row-gap: 20px;
    }
   
}

@media (any-hover:hover) {
    a:hover {
        color: var(--Hover-links);
        transition: color 0.3s;
    }
    .welcome-div_contact:hover, .welcome-div_button-filled:hover{
        background-color: white;
        color: var(--Black);
        transition: all 0.3s;
    }
    .welcome-div_button-empty:hover {
        background-color: var(--Black);
        color: var(--White);
        transition: all 0.3s;
    }
    .row-div_button-borderless:hover{
        color: var(--Hover-links);
        transition: color 0.3s;
    }
    .welcome-div_contact:active, .welcome-div_button-filled:active{
        background-color: var(--Black);
        color: var(--White);
        transition: all 0.1s;
    }
    .welcome-div_button-empty:active {
        background-color: var(--White);
        color: var(--Black);
        transition: all 0.1s;
    }
}