:root {
    --Poppins: Poppins, sans-serif;
   --Montserrat: Montserrat, sans-serif;
   --Inter: Inter, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--Poppins);
    font-weight: 400;
    font-size: 18px;
    
}   

.columnDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}
.welcomeDiv_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}
.welcomeDiv_nav{
    display: flex;
    gap: 30px;
    margin-left:32px;
}
.welcomeDiv_nav a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: var(--Inter);
}
.welcomeDiv_contact{
    width: 122px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px 0;
    margin-right: 20px;
    cursor: pointer;
    font-family: var(--Inter);
    font-weight: 600;
}
.welcomeDiv_section{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
}

.welcomeDiv_motivateTitle{
    font-size: 52px;
    width: 30%;
    margin-bottom: 0;
    margin-top: 68px;
    line-height: 1.4;
    font-family: var(--Montserrat);

}

.welcomeDiv_article{
    width: 43%;
    padding-right: 50px;
    padding-top: 40px;
}
.welcomeDiv_buttonsLogin{
    display: flex;
    gap: 11px;

}
.welcomeDiv_imageDiv{
    width: 100%;
    position: relative;
    height: 590px;
    overflow: hidden;
}
.welcomeDiv_img{
    width: 100%;
    position: absolute;
    transform: translate(0,-10%);
    
    object-fit: cover;
   
}
.welcomeDiv_button{
    color: #ffffff;
    border-radius: 10px;
    border: 1 px solid #000000;
    padding: 10px 27px;
    cursor: pointer;
    font-family: var(--Inter);
    font-weight: 600;
}
.welcomeDiv_button_filled{
    background-color: #000000;
    color: #ffffff;
}
.welcomeDiv_button_empty{
    background-color: #ffffff;
    color: #000000;
}

.rowDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F9F8FE;
    margin-top: 50px;
    padding: 110px 0 108px 20px;
}
.rowDiv_leftCon{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 40%;
    gap: 28px;
   
}
.rowDiv_rightCon{
    width: 43%;
}
.title{
    font-size: 52px;
    line-height: 1.3;
    margin-bottom: 0px;
    margin-top: 16px;
    font-family: var(--Montserrat), sans-serif;
}
.rowDiv_middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.smallText{
    font-weight: 500;
    margin: 0;
}
.desc{
    margin: 0;
    padding-bottom: 30px;
    
}
.rowDiv_middle-title{
    font-size: 22px;
}
.rowDiv_middle-desc{
    font-size: 16px;
}
.rowDiv_button-borderless{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #F9F8FE;
    border: none;
    color: #000000;
    padding: 10px 0;
    font-family: var(--Inter);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

}
.bottom_buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.columnDiv_middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 49px;
    justify-content: space-around;
    margin-top: 68px;
}
.white{
    background-color: #ffffff;
}
.columnDiv_top{
    width: 70%;
}
.discoverProduction{
    padding: 113px 80px;
    align-items: start;
}
.columnDiv_middle-cardTitle, .columnDiv_middle-cardDesc{
   margin: 0;
}
.columnDiv_middle-cardTitle{
    font-size: 22px;
}
.columnDiv_middle-cardDesc{
    font-size: 16px;
}
.columnDiv_cardImg{
    border-radius: 10px;
}
.columnDiv_middle-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
}
.columnDiv_buttons{
    margin-top: 80px;
}
.columnDiv_buttons-Join{
    padding: 13px 24px;
}
.fourthCon{
    margin-top: 0;
    justify-content: center;
    gap: 70px;
    padding-left: 0;
}
.fourthCon_leftCon{
    width: 42%;
    gap: 35px;
    padding-left: 20px;

}
.m-0{
    margin: 0;
}
.fivesCon{
    padding: 50px;
}
.columnDiv_title{
    font-size: 52px;
    text-align: center;
    width: 80%;
    line-height: 1.4;
    font-family: var(--Montserrat);
    font-weight: 700;
}
.exploreResoures{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    gap: 49px;
}
.exploreResoures_card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.exploreResoures_title{
    margin: 0;

    font-weight: 700;
    font-size: 22px;
    text-align: center;
}
.exploreResoures_description{
    text-align: center;
    font-size: 16px;
    margin: 0;
   

}
.exploreResoures_cardImg{
    border-radius: 10px;
}
.sixCon{
    margin: 0;
    padding: 94px 20px;
    gap: 70px;
    justify-content: center;
}
.sixCon_leftCon{
 width: 44%;
 gap: 45px;
}
.sixCon_title{
    margin: 0;
}
.sixCon_middle{
    justify-content: center;
    gap: 10px;
}

.sixCon_middle-div{
    width: 50%;
}

.sixCon_middle-title{
    font-size: 52px;
    margin: 0;
}
.sixCon_middle-desc{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
  
}
.sixCon_description{
    margin: 0;
}
.sixCon_top{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.predFooter{
    width: 100%;
    padding: 110px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.predFooter_subscriptionText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.predFooter_title{
    font-size: 52px;
    font-family: var(--Montserrat);
    margin: 0;
}
.predFooter_SubmitForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.predFooter_InputSubmit{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.predFooter_Input{
    width: 340px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-family: var(--Inter);
}
.predFooter_Input:focus{
    outline:none;
}

.predFooter_terms{
    font-size: 12px;
}
.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 80px 0;
    gap: 15px;
    background-color: #F9F8FE;
}
.contact_methods{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 39px;
}
.contact_information{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contact_information > p,h2{
    margin: 0;
    font-size: 16px;
}
.contact_information > h2{
    font-size: 22px;
}
.contact_information > img{
    width: 32px;
}
.contact_img{
    padding-top: 211px;
}
.contact_directions{
    width: 125px;
}
.footer{
    width: 100%;
    background-color: #F9F8FE;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 73px;
    padding: 135px 0;
}
.footer_links{
    display: flex;
    flex-direction: row;
    gap: 85px;
    padding-top: 33px;
}
.footer_subscription{
    width: 42%;
    display: flex;
    gap: 50px;
    margin-top: 20px;
    padding-left: 81px;
    flex-direction: column;
}
.footer_subscriptionText{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_description{
    margin: 0;
}
.footer_SubmitForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: space-between;
}
.footer_inputSubmit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.footer_input{
    width: 430px;

}
.footer_title{
    font-size: 32px;
    margin: 0;
    font-family: var(--Montserrat);
    font-weight: 700;
}
.footer_columnLinks{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 26px;
}
.footer_columnLinks > h2{
    font-size: 22px;
    margin: 0;
}
.footer_terms{
    font-size:12px;
    margin: 0;
}
.footer_navigate{
    display: flex;
    flex-direction: column;
    gap: 18px; 
}
.footer_navigate-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
    gap: 18px;
    column-gap: 10px;
}
.footer_navigate > a, .footer_navigate-grid > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.footer_social{
    padding-top: 20px;
}