:root {
    --Poppins: Poppins, sans-serif;
   --Montserrat: Montserrat, sans-serif;
   --Inter: Inter, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--Poppins);
    font-weight: 400;
    font-size: 18px;
    
}   

.columnDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcomeDiv_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.welcomeDiv_nav{
    display: flex;
    gap: 30px;
    margin-left:32px;
}
.welcomeDiv_nav a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: var(--Inter);
}
.welcomeDiv_contact{
    width: 122px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px 0;
    margin-right: 20px;
    cursor: pointer;
    font-family: var(--Inter);
    font-weight: 600;
}
.welcomeDiv_section{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
}

.welcomeDiv_motivateTitle{
    font-size: 52px;
    width: 30%;
    margin-bottom: 0;
    margin-top: 50px;
    line-height: 1.6;
    font-family: var(--Montserrat);

}

.welcomeDiv_article{
    width: 43%;
    padding-right: 50px;
    padding-top: 5px;
}
.welcomeDiv_buttonsLogin{
    display: flex;
    gap: 11px;

}
.welcomeDiv_img{
    width: 100%;
    overflow: hidden;    
    height: 590px;
}

.welcomeDiv_button{
    color: #ffffff;
    border-radius: 10px;
    border: 1 px solid #000000;
    padding: 10px 27px;
    cursor: pointer;
    font-family: var(--Inter);
    font-weight: 600;
}
.welcomeDiv_button_filled{
    background-color: #000000;
    color: #ffffff;
}
.welcomeDiv_button_empty{
    background-color: #ffffff;
    color: #000000;
}

.rowDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F9F8FE;
    margin-top: 50px;
    padding: 110px 0 108px 20px;
}
.rowDiv_leftCon{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 40%;
    gap: 20px;
   
}
.rowDiv_rightCon{
    width: 43%;
}
.title{
    font-size: 52px;
    line-height: 1.3;
    margin-bottom: 0px;
    margin-top: 16px;
    font-family: var(--Montserrat), sans-serif;
}
.rowDiv_middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.smallText{
    font-weight: 500;
    margin: 0;
}
.desc{
    margin: 0;
    padding-bottom: 30px;
    
}
.rowDiv_middle-title{
    font-size: 22px;
}
.rowDiv_middle-desc{
    font-size: 16px;
}
.rowDiv_button-borderless{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #F9F8FE;
    border: none;
    color: #000000;
    padding: 10px 0;
    font-family: var(--Inter);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

}
.bottom_buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.columnDiv_middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 89%;
    gap: 49px;
    justify-content: space-around;
    padding-top: 63px;
}
.white{
    background-color: #ffffff;
}
.columnDiv_top{
    width: 70%;
}
.discoverProduction{
    padding: 120px 80px;
    align-items: start;
}
.columnDiv_middle-cardTitle, .columnDiv_middle-cardDesc{
   margin: 0;
}
.columnDiv_middle-cardTitle{
    font-size: 22px;
}
.columnDiv_middle-cardDesc{
    font-size: 16px;
}
.columnDiv_cardImg{
    border-radius: 10px;
}
.columnDiv_middle-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
}
.columnDiv_buttons{
    margin-top: 80px;
}
.columnDiv_buttons-Join{
    padding: 13px 24px;
}